In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls ..

Housing.sqlite3*              de-dupe.sh*
Housing_Data_May_19_2024.csv  h_util.py
LICENSE                       kijiji.py
README.md                     notebooks/
database.py                   sql/

In [3]:
hfile = pd.read_csv('../Housing_Data_May_19_2024.csv')

In [4]:
hfile.head()

,LID,StreetAddress,City,PCode,HType,Bedrooms,Bathrooms,Sqft,AgreeType,Price,Hydro,Water,Heat,DateString
0,1673363360,Kitchener Rd,Cambridge,NaN,Apartment,2.0,1.0,850,1 Year,2195,1,1,1,2024-03-31
1,1673363360,Kitchener Rd,Cambridge,NaN,Apartment,2.0,1.0,850,1 Year,2195,1,1,1,2024-03-31
2,1673363360,Kitchener Rd,Cambridge,NaN,Apartment,2.0,1.0,850,1 Year,2195,1,1,1,2024-03-31
3,1673363360,Kitchener Rd,Cambridge,NaN,Apartment,2.0,1.0,850,1 Year,2195,1,1,1,2024-03-31
4,1689725742,John Carpenter Road North,North Dumfries,NaN,Townhouse,3.0,2.5,1800,1 Year,2700,-1,-1,-1,2024-03-31

In [ ]:
nominal = ['City', 'PCode', 'HType', 'AgreeType']

In [6]:
housing_type_prop = hfile['HType'].value_counts(normalize=True, dropna=False)
print(housing_type_prop)

Apartment         0.458614
House             0.322005
Condo             0.122140
Basement          0.054509
Townhouse         0.032301
Duplex/Triplex    0.007066
room              0.003365
Name: HType, dtype: float64

In [ ]:
city_prop = hfile['City'].value_counts(normalize=True, dropna=False)
print(city_prop)

In [8]:
agree_prop = hfile['AgreeType'].value_counts(normalize=True, dropna=False)
print(agree_prop)

1 Year            0.827389
Month-to-month    0.157806
Not Available     0.012113
NaN               0.002692
Name: AgreeType, dtype: float64

In [17]:
city_type_br = hfile.groupby(['City', 'HType', 'Bedrooms'])['Price'].mean()
print(city_type_br)

City       HType      Bedrooms
Alma       House      3.0         2650.000000
Arthur     Apartment  2.0         1633.333333
Ayr        Apartment  1.0         1575.000000
           House      4.0         3233.750000
                      4.5         3500.000000
                                     ...
Windsor    Apartment  1.0         1599.000000
Woolwich   House      4.0         2999.000000
Zeller     Basement   0.0         1450.000000
kitchener  Apartment  1.0         1699.000000
           House      3.0         2595.000000
Name: Price, Length: 169, dtype: float64